FIREBASE_PROJECT_ID=your-firebase-project-id
GOOGLE_APPLICATION_CREDENTIALS=serviceAccountKey.json
IDENTITY_VERIFICATION_BASE_URL=https://api.sandbox.co.in
IDENTITY_VERIFICATION_CLIENT_ID=your_client_id_here
IDENTITY_VERIFICATION_CLIENT_SECRET=your_client_secret_here
IDENTITY_VERIFICATION_SIMULATION_MODE=false